doctype html
html(lang="fr")
	head
		title=pageTitle
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="description", content=pageDescription)
		meta(name="robots", content="index, nofollow")
		link(rel="shortcut icon", type="image/x-icon", href=baseURL+"assets/images/favicon.ico")
		link(rel="stylesheet", type="text/css", href=baseURL+"assets/css/app.min.css")

	body
		header
			include ./includes/header.jade
		section#presentation
			include ./includes/presentation.jade
		section#realisations
			include ./includes/realisations.jade
		section#contact
			include ./includes/contact.jade
		section#devis
			include ./includes/devis.jade
		footer
			include ./includes/footer.jade

		include ./includes/modal.jade
		script(src=baseURL+"assets/js/app.min.js")
